[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pytest = "*"
rabbitmq = "*"
requests = "*"
django-rest-swagger = "*"
psycopg2-binary = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.10"
